@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap')

h1{
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: rgb(233, 124, 209);
    text-align: center;
    color: black;

}
h1 span{
    color: rgb(255, 3, 179);
}
#dias_restantes{
    color: rgb(166, 0, 255);
    font: 400px;
}
